---
Checks:   '-*,
          bugprone-*,
          google-*,
          misc-*,
          modernize-*,
          readability-*,
          performance-*,
          -modernize-use-trailing-return-type,
          -readability-identifier-length
          -readability-avoid-const-params-in-decls'


HeaderFilterRegex: 'src/cm[^/]*\.(h|hxx|cxx)$'

CheckOptions:
  - key: readability-magic-numbers.IgnoredIntegerValues
    value: 0;1;2;3;4;5;6;7;8;9;10;11;16;50;60;1000
  - key: readability-magic-numbers.IgnoredFloatingPointValues
    value: 0.1;0.5;1.0;2.0;1e-6
...
