Checks:   '-*,
          bugprone-*,
          google-*,
          misc-*,
          modernize-*,
          readability-*,
          performance-*,
          -readability-identifier-length'


HeaderFilterRegex: 'src/cm[^/]*\.(h|hxx|cxx)$'
