<?xml version="1.0"?>
<robot name="rabbit" xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:property name="pi" value="3.1415926" />

	<!-- * * * Link Definitions * * * -->
	<link name="base_link">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="8 5 3"/>
			</geometry>
			<material name="green">
				<color rgba="0 1 0 1.0"/>
			</material>
		</visual>	
  	</link>

	<link name="ear1">
		<visual>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="5 3 2"/>
			</geometry>
			<material name="blue">
	       		<color rgba="0 0 1 1.0"/>
	     	</material>
		</visual>
	</link>

	<link name="ear2">
		<visual>
		    <origin xyz="0 0 0" rpy="0 0 0"/>
			<geometry>
				<box size="5 3 2"/>
			</geometry>
			<material name="blue">
	       		<color rgba="0 0 1 1.0"/>
	     	</material>
		</visual>
	</link>
	
	<!-- * * * Joint Definitions * * * -->
	<joint name="j_ear1_base" type="fixed">
    	<parent link="base_link"/>
    	<child link="ear1"/>
    	<origin xyz="-8 0 3" rpy="0 ${pi/4} 0"/>
	</joint>

	<joint name="j_ear2_base" type="fixed">
    	<parent link="base_link"/>
    	<child link="ear2"/>
    	<origin xyz="8 0 3" rpy="0 ${-pi/4} 0"/>
	</joint>
</robot>



